/* The h's */
h1{  color: white;
     font-family: arial, helevetica, comic sans;
     font-size: 20px;
     text-align: center;
     padding: 5px;
}

h2{ font-family: helevetica, comic sans, arial;
    font-size: 16px;
    text-align: center;
    height: auto;
    padding: 5px;
    margin: 2px;
}

h3{ text-align: center;
    text-style: underline;
    font-size: 17px;
    padding: 5px;
}

h4{ font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 2px;
    height: auto;
}

.greyscale{ color: darkgrey;
}

h5{  color:grey;
     font-size: 14px;
}

.bigfont{ 
      font-size:30px;
} 

.smallfont{
      font-size:16px;
}

.text-centered{
  text-align: center;
}

/* Un-ordered list styling */
ul {  list-style-type: circle;
      margin: 2px;
      padding: 5px;
}

.styled{ list-style-type: diamond;
}

.darker{ color: rgb(175,64,129);
}

.centered1{ text-align: center;
}

/* Classes to allow shading */
.dark-background{
  background-color: rgba(44, 10, 10, 0.767);
  color: white;
}

.light-background{
  background-color: #c8d2e0;
  color: #1E1E1E;
}

.wrapper{
  width: 300px;
  margin: auto;
}

 /~ Link colors */
a:link{color: purple;

}
a:visited{color: rgb(197, 8, 197);

}
a:hover{color: rgb(72, 26, 77);

}
a:active{color: black;

}
